body{
    background-color:#0D1117;
}

.download-up{
    padding: 8px 18px 8px 18px;
    border-radius: 6px;
    background-color: #0072be;
    color: white;
    font-size: 14px;
    cursor: pointer;
}



.top-link{
    color: grey;
    cursor: pointer;
    padding-left: 20px;
}

.download{
    color: white;
    background-color: #0072be;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.try{
    color: white;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;

}

input{
    border-radius: 4px;
    background-color: #0e0e0e;
    padding: 8px 12px;
}

.middle-img{
    display: flex;
    justify-content: center;
}
