body{
    background-color:black;
}

.top-link{
    color: grey;
    cursor: pointer;
    padding-left: 20px;
}

.download{
    color: white;
    background-color: blue;
    cursor: pointer;
    font-size: 20px;
}

.try{
    color: white;
    background-color: grey;
    cursor: pointer;
    font-size: 20px;

}